#footer{
    font-weight: bolder;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
}
#foot{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 0;

}